#abas ul li{
    display: inline;
    border: solid 2px #259BF8;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

#couteudos{
    border: solid 2px green;
}
.selecionado {
    background-color: #25E8F8;
    box-shadow: 5px 5px 5px gray;
}